version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    env_file: .env.local
    restart: unless-stopped
    # Local дээр volume ашиглаж кодоо шууд шинэчилнэ
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev"
    environment:
      - NODE_ENV=development

  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      frontend:
        condition: service_started
    volumes:
      # Local дээр nginx.dev.conf-ийг ашиглана   docker compose -f docker-compose.dev.yml up --build
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro